nav {
  display: flex;
  height: 10vh;
  border-bottom: 1px solid rgb(179, 179, 179);
  /* background-color:red ; */
}

nav div{
  display: flex;
}

a {
  /* color: rgb(194, 235, 206); */
  text-decoration: none;
  margin-left: 3vw;
  font-size: clamp(1rem, 8vw, 2.4rem);
  font-weight: 200;
  color: white;
}

h3 {
  letter-spacing: 0.10em;
   /* border: 3px solid black; */
  -webkit-text-stroke: 0.5px  rgb(22, 22, 22); /* width and color */

}

.selected {
  color: rgb(12, 12, 12);
  letter-spacing: 1em;

}

.chap {
  background-image: url("./Assets/linez2.png");
   /* Background image is centered vertically and horizontally at all times */
   background-position: center center;
  
   /* Background image doesn't tile */
   background-repeat: repeat;
   
   /* Background image is fixed in the viewport so that it doesn't move when 
      the content's height is greater than the image's height */
   background-attachment: fixed;
   
   /* This is what makes the background image rescale based
      on the container's size */
   background-size: contain;

  padding: 20px;
  /* background-color: rgb(36, 52, 100); */
  height: 90vh;
  overflow: scroll;
  padding: 5vh 10vw 0 20vw;
}

.chap::-webkit-scrollbar {
  display: none;
}


.home{
  height: 50vh;
}
.home img{
  width: 200px;
  transform: rotate(20deg);
  margin-left: 20vw;
}


.n404{
  height: 50vh;
}
.n404 img{
  width: 200px;
  transform: rotate(20deg);
  margin-left: 10vw;
}

