@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@200;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Grenze Gotisch", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./Assets/texture.jpg"); */
  background-color: rgb(70, 60, 45);
  background-size: center;
  font-size: clamp(1rem, 2vw, 2rem);
  color: rgb(190, 193, 196);
}
